<div id="container-configuracoes" class="container-main-modal" style="z-index: 1; display: none;">
    <div class="container-conteudo-modal">
        <div class="container-conteudo-titulo">
            <div class="container-conteudo-titulo-final">
                <label class="container-conteudo-input-label">Configurações da Narrativa</label>
            </div>
            <div class="container-conteudo-titulo-x">
                <a href="" title="Fechar">
                    <img src="./img/Cancel2.svg" alt="Fechar" style="width: 30px; height: 30px;">
                </a>
            </div>
        </div>
        <div class="container-conteudo-main-input">
            <div class="container-conteudo-input">
                <label class="container-conteudo-input-label-drop" for="opcoes">Tamanho da História</label>
                <select class="container-conteudo-input-select" id="opcoes" name="opcoes">
                    <option class="container-conteudo-input-option" value="opcao1">Curta</option>
                    <option class="container-conteudo-input-option" value="opcao2">Média</option>
                    <option class="container-conteudo-input-option" value="opcao3">Longa</option>
                </select>
            </div>
            <div class="container-conteudo-input">
                <label class="container-conteudo-input-label-drop" for="opcoes">Estilo Narrativo</label>
                <select class="container-conteudo-input-select" id="opcoes" name="opcoes">
                    <option class="container-conteudo-input-option" value="opcao1">Conto Clássico</option>
                    <option class="container-conteudo-input-option" value="opcao2">Suspense</option>
                    <option class="container-conteudo-input-option" value="opcao3">Comédia</option>
                    <option class="container-conteudo-input-option" value="opcao4">Romance</option>
                    <option class="container-conteudo-input-option" value="opcao4">Aventura</option>
                    <option class="container-conteudo-input-option" value="opcao4">Mistério</option>
                    <option class="container-conteudo-input-option" value="opcao4">Fantasia</option>
                </select>
            </div>
            <div class="container-conteudo-input">
                <label class="container-conteudo-input-label-drop" for="opcoes">Perspectiva Narrativa</label>
                <select class="container-conteudo-input-select" id="opcoes" name="opcoes">
                    <option class="container-conteudo-input-option" value="opcao1">Primeira Pessoa</option>
                    <option class="container-conteudo-input-option" value="opcao2">Terceira Pessoa</option>
                    <option class="container-conteudo-input-option" value="opcao3">Onisciente</option>
                </select>
            </div>
            <div class="container-conteudo-input">
                <label class="container-conteudo-input-labe-dropl" for="opcoes">Nível de Emoção</label>
                <select class="container-conteudo-input-select" id="opcoes" name="opcoes">
                    <option class="container-conteudo-input-option" value="opcao1">Neutro</option>
                    <option class="container-conteudo-input-option" value="opcao2">Emotivo</option>
                    <option class="container-conteudo-input-option" value="opcao3">Intenso</option>
                    <option class="container-conteudo-input-option" value="opcao4">Dramático</option>
                </select>
            </div>
        </div>
        <div>
            <div class="container-conteudo-botao-modal">
                <button class="botao-container-conteudo">Aplicar</button>
            </div>
        </div>
    </div>
</div>
