<div id="container-pai" class="container-main" style="display: none; z-index: -1;">
    <div class="container-conteudo">
        <div class="container-conteudo-titulo">
            <div class="container-conteudo-titulo-final">
                <label class="container-conteudo-input-label">Configurações da Narrativa</label>
            </div>
            <div class="container-conteudo-titulo-x">
                <a href="">X</a>
            </div>
        </div>
        <div class="container-conteudo-input">
            <label class="container-conteudo-input-label" for="opcoes">Escolha uma opção:</label>
            <select class="container-conteudo-input-select" id="opcoes" name="opcoes">
                <option class="container-conteudo-input-option" value="opcao1">Opção 1</option>
                <option class="container-conteudo-input-option" value="opcao2">Opção 2</option>
                <option class="container-conteudo-input-option" value="opcao3">Opção 3</option>
                <option class="container-conteudo-input-option" value="opcao4">Opção 4</option>
            </select>
        </div>
        <div class="container-conteudo-input">
            <label class="container-conteudo-input-label" for="opcoes">Escolha uma opção:</label>
            <select class="container-conteudo-input-select" id="opcoes" name="opcoes">
                <option class="container-conteudo-input-option" value="opcao1">Opção 1</option>
                <option class="container-conteudo-input-option" value="opcao2">Opção 2</option>
                <option class="container-conteudo-input-option" value="opcao3">Opção 3</option>
                <option class="container-conteudo-input-option" value="opcao4">Opção 4</option>
            </select>
        </div>
        <div class="container-conteudo-input">
            <label class="container-conteudo-input-label" for="opcoes">Escolha uma opção:</label>
            <select class="container-conteudo-input-select" id="opcoes" name="opcoes">
                <option class="container-conteudo-input-option" value="opcao1">Opção 1</option>
                <option class="container-conteudo-input-option" value="opcao2">Opção 2</option>
                <option class="container-conteudo-input-option" value="opcao3">Opção 3</option>
                <option class="container-conteudo-input-option" value="opcao4">Opção 4</option>
            </select>
        </div>
        <div class="container-conteudo-input">
            <label class="container-conteudo-input-label" for="opcoes">Escolha uma opção:</label>
            <select class="container-conteudo-input-select" id="opcoes" name="opcoes">
                <option class="container-conteudo-input-option" value="opcao1">Opção 1</option>
                <option class="container-conteudo-input-option" value="opcao2">Opção 2</option>
                <option class="container-conteudo-input-option" value="opcao3">Opção 3</option>
                <option class="container-conteudo-input-option" value="opcao4">Opção 4</option>
            </select>
        </div>
    </div>
</div>
