<div id="container-detalhes" class="container-main-modal" style="z-index: 1; display: none;">
    <div class="container-conteudo-modal">
        <div class="container-conteudo-titulo">
            <div class="container-conteudo-titulo-final">
                <label class="container-conteudo-input-label">Personagens</label>
            </div>
            <div class="container-conteudo-titulo-x">
                <a href="#" title="Fechar">
                    <img src="./img/Cancel2.svg" alt="Fechar" style="width: 30px; height: 30px;">
                </a>
            </div>
        </div>
        <div class="container-conteudo-main-input">
            <textarea class="container-conteudo-main-input-textareadetalhes" id="comentario" rows="5" cols="30" placeholder="A dialog is a type of modal window that appears in front of app content to provide critical information, or prompt for a decision to be made."></textarea>
        </div>
        <div class="container-conteudo-botao-modal">
            <button class="botao-container-conteudo">Aplicar</button>
        </div>
    </div>
</div>
