@Html.Partial("~/Views/Home/Modal/_GerarDoZero.cshtml")

<div id="container-gerador" class="container-main-modal-gerador" style="display:none;">
    <div class="container-conteudo-modal-gerador">
        <div class="container-conteudo-titulo-x-gerador">
            <a href="#" title="Fechar">
                <img src="./img/Cancel2.svg" alt="Fechar" style="width: 30px; height: 30px;">
            </a>
        </div>
        <div class="container-conteudo-titulo-final-gerador">
            <button>Personagens</button>
            <button>Ambiente</button>
            <button>Época</button>
            <button>Conflito</button>
            <button >Objetivo</button>
            <button>Tema</button>
            <button>Reviravolta</button>
            <button>Desfecho</button>
        </div>
        <div class="container-conteudo-main-input-gerador">
            <textarea class="container-conteudo-main-input-textareadetalhes-gerador" id="comentario" rows="5" cols="30" placeholder="A dialog is a type of modal window that appears in front of app content to provide critical information, or prompt for a decision to be made."></textarea>
        </div>
        <div class="container-conteudo-botao-modal-gerador">
            <button class="botao-container-conteudo">Aplicar</button>
        </div>
    </div>
</div>
