@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/styleHome.css" asp-append-version="true" />
        <title>Home</title>
</head>
<body>
    <div class="container-main">
        <div class="container-image-top">
            <img src="./img/Banner-tst.jpg" alt="Imagem de teste">
            <input type="text" placeholder="Digite aqui o título..." class="input-center">
        </div>
        <div class="container-botões-main">
            <div class="container-botoes">
                <button class="botao-persona">Personagens</button>
                <button class="botao-persona">Ambiente</button>
                <button class="botao-persona">Época</button>
                <button class="botao-persona">Conflito</button>
                <button class="botao-persona">Objetivo</button>
                <button class="botao-persona">Tema</button>
                <button class="botao-persona">Reviravolta</button>
                <button class="botao-persona">Desfecho</button>
            </div>
            
            <div class="container-botoes-config">
                <button class="botao-persona-config">Configurações</button>
            </div>
        </div>
        <div class="container-conteudo-main">
            <div class="container-enfeite-top">
                <hr class="linha">
            </div>
            <div class="container-conteudo">
                <div class="container-botao-manualmente">
                    <button class="botao-container-conteudo">Criar Manualmente</button>
                </div>
                <div class="container-titulo">
                    <p>Personagens</p>
                </div>
                <div class="container-conteudo-escrita-main-top">
                    <div class="container-conteudo-escrita1">

                    </div>
                    <div class="container-conteudo-escrita2">

                    </div>
                    <div class="container-conteudo-escrita3">

                    </div>
                </div>
                <div class="container-conteudo-escrita-main-botton">
                    <div class="container-conteudo-escrita4">

                    </div>
                    <div class="container-conteudo-escrita5">

                    </div>
                    <div class="container-conteudo-escrita6">
                        <button class="botao-container-conteudo-outro">Outro</button>
                    </div>
                </div>
            </div>
            <div class="container-botão-gerar">
                <button class="botao-container-conteudo">Gerar</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/site.js"></script>
    @Html.Partial("~/Views/Home/Modal/_Configuracoes.cshtml")
</body>
</html>